aula11/node_modules/.package-lock.json
aula11/node_modules/ansi-regex/index.js
aula11/node_modules/ansi-regex/license
aula11/node_modules/ansi-regex/package.json
aula11/node_modules/ansi-regex/readme.md
aula11/node_modules/prompt-sync/LICENSE
aula11/node_modules/prompt-sync/README.md
aula11/node_modules/prompt-sync/index.js
aula11/node_modules/prompt-sync/package.json
aula11/node_modules/prompt-sync/test.js
aula11/node_modules/strip-ansi/index.d.ts
aula11/node_modules/strip-ansi/index.js
aula11/node_modules/strip-ansi/license
aula11/node_modules/strip-ansi/package.json
aula11/node_modules/strip-ansi/readme.md
aula11/package-lock.json
aula11/package.json
package-lock.json
